.sectionHeader{
position: relative;
width: 878px;
height: 62px;
left: 300px;
/* top: 109px; */
display: grid;
grid-auto-flow: column;
color: white;
background: #2C3590;
text-align: center;
/*margin : 0 auto; */
font-weight: bold;
}
h1{
  text-align: center;
}